{% extends "blog_app/base.html" %}

{% block content %}

<h1>História do Voleibol</h1>

<font size=4>
Criado em 1895, nos Estados Unidos, por William George Morgan (1870-1942), o primeiro nome do voleibol foi “mintonette”.

    A criação de Morgan, que era professor de educação física, foi influenciada por uma série de fatores, tais como:
    
    ter um jogo em que o risco de lesão fosse reduzido; em termos físicos, não exigisse muito dos participantes; pudesse ser jogado em quadra fechada e, simplesmente, para inovar as suas aulas.<br>
    No Brasil, vôlei foi praticado pela primeira vez no ano de 1915, no Colégio Marista de Recife.

    Mas considera-se os seus primórdios no país entre 1916 e 1917. Tendo origem na Associação Cristã de Moços (ACM) de São Paulo. Versão brasileira do grupo dos Estados Unidos.
    </font><br><br>

    
<font size=4>
    O voleibol ou vôlei é um desporto praticado entre duas equipes numa quadra retangular (aberta ou fechada).
    Ela é dividida por uma rede colocada verticalmente sobre a linha central.<br>

   O voleibol é jogado com uma bola e inclui diversos passes com as mãos.
    O objetivo principal é lançar a bola por cima da rede e fazê-la tocar no chão do adversário. </font><br><br>

     <image src="https://1.bp.blogspot.com/-EVDkbs7dGaw/UQM4mdDO8CI/AAAAAAAACz8/8b6hJFeeano/s1600/38534.jpg"> <br><br>

     <h3>Quantos jogadores tem o voleibol?</h3>
     <font size=4>
    O vôlei de quadra é formado por duas equipes com 6 jogadores em cada. No total, são 12 jogadores. Existem ainda 6 jogadores reserva.
    
    Além do vôlei de quadra, há também o vôlei de praia. Diferente da quadra, o de praia é jogado na areia e contém somente quatro jogadores, sendo dois de cada equipe.</font><br><br>
    <image src=" https://i.ytimg.com/vi/lTWKrB0iP2M/maxresdefault.jpg"> <br><br>
    
    <image scr="http://www.oab-ro.org.br/gerenciador/data/uploads/2018/08/Inaugura%C3%A7%C3%A3o-quadra-de-v%C3%B4lei-17.jpg"> <br><br>
    <h3>Posições do voleibol</h3>
    <font size=4>
        Cada jogador tem uma posição dentro da quadra, a qual apresenta uma ordem de rotação:<br>
        
        3 jogadores posicionam-se perto da rede;<br>
        3 jogadores posicionam-se na linha de trás.</font><br><br>
    <image src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/db2a9359-89e7-4a66-b03d-082a215d1142">

{% endblock %}
