{% extends "blog_app/base.html" %}

{% block content %}

<h1>Voleibol</h1>
<font size=4>
    Voleibol é um desporto que requer muita concentração porém é o desporto com menos contacto físico , que por sua vez evita
choques, mas ainda assim como todo desporto vamos chocar por vezes com os nossos proprio colegas de equipa,
isso acontece quando um dos atletas erra na coordenação.<br>

Muitas pessoas tem preconceito contra os homens que praticam vôlei, uma vez que é um esporte muito procurado por mulheres e homossexuais. O Voleibol era um esporte de pouca valorização no Brasil até os anos 80, além de carregar a conotação de que se tratava de um esporte para meninas, enquanto o futebol seria a prática dos meninos. <br><br>
<image src="https://www.iol.pt/multimedia/oratvi/multimedia/imagem/id/5c5f1bac0cf2b67a55a57fa7/1024"><br><br>

Observando-se os movimentos técnicos desse esporte, logo se conclui que eles pouco se aproximam de gestos femininos. Porém, essa marca do voleibol não surgiu aleatoriamente: ela nasceu como consequência de uma manifestação de pouco profissionalismo por parte dos professores de Educação Física: ao invés de estruturar uma aula e trabalhar de modo sério com seus alunos, era bastante comum que os professores deem uma bola de voleibol para as meninas e uma de futebol para os meninos. 
Na verdade, ao contrário do que as pessoas pensam o homem é mais propicio a se jogar voleibol.<br><br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/cKwIWmxThQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
     Na maioria dos casos o homem será mais alto, mais forte, mais veloz e por estas razões terá vantagem no desempenho físico.
      O homem possui maior quantidade de massa muscular e menor de gordura corporal.<br> 
      Estes fatores, associados a questões hormonais, colocam o sexo masculino em melhor condição para a pratica de vôlei.  <br><br>  
</font><br>
<image src="https://imagem.band.com.br/f_465943.jpg">


{% endblock %}

