{% extends "blog_app/base.html" %}

{% block content %}

<h1>Benefícios do voleibol para a saúde</h1>
<font size=4>O vôlei é um dos esportes mais amados no mundo. Além disso, os benefícios do voleibol para a saúde vão além de ser uma ótima fonte de lazer e diversão. Sob o mesmo ponto de vista, este desporto também ajuda a queimar calorias. Assim sendo, são muitos os benefícios que essa atividade física pode proporcionar. É um desporto mais leve. Sendo assim, ele é uma ótima opção para quem quer se manter em forma de maneira descontraída e menos dolorosa.

    Apesar de ser muito amado no mundo. O vôlei é originário dos Estados Unidos, por volta de 1895. Seu criador, George Morgan, era diretor de educação física da Associação Cristã de Moços de Massachusetts.<br><br>

<image src="https://static.cdn.pleno.news/2019/08/Time-brasileiro-de-v%C3%B4lei-feminino-1024x683.jpg"><br><br>
    Benefícios deste esporte
    A prática desse esporte oferece todos os benefícios de uma atividade física. Sob o mesmo ponto de vista, um dos benefícios do voleibol para a saúde é traduzido no hábito de se exercitar. Sendo uma das maneiras de evitar que o corpo padeça.<br>
    
    Segundo pesquisas, o vôlei contribui para melhorar a qualidade de vida. É um esporte que movimenta todo o corpo. Um dos maiores benefícios do voleibol, é a sua contribuição na oxigenação do cérebro. Assim, contribuindo com estímulos positivos a mente. Dessa forma também diminui as alterações do humor.<br>
    
    O voleibol também é um esporte que incentiva interação social. Pois é praticado em grupo. Ele inda pode ajudar a diminuir alguns problemas de saúde. Tais como: a obesidade, o sedentarismo e o colesterol alto.
    
    Outro benefício do esporte é que ele ajuda a queimar calorias, assim, auxilia no processo de emagrecimento.<br>
    
    Segundo a Harvard Medical School, em uma partida, um indivíduo pode queimar entre 90 a 133 calorias em um jogo de meia-hora.
    
   <h1> Confira alguns benefícios do voleibol para a saúde e suas vantagens:</h1><br>
    
->Estimula a sinapse dos neurônios;<br>
->Melhora as capacidades físicas;<br>
->Melhora as funções cardiorrespiratórias;<br>
->Fortalece o corpo;<br>
->Melhora a coordenação motora;<br>
->Aumenta a flexibilidade;<br>
->Auxilia na perda de peso;<br>
->Auxilia no aumento da massa muscular;<br>
->Diminui o estresse.<br>
->Outros benefícios:<br>
->Fortalece os músculos<br><br>
<image src="http://3.bp.blogspot.com/_lgwUD_SnlZQ/S9BcBRaHITI/AAAAAAAAAFI/T9iqCZ0u7Q4/s1600/alongamentos-sao-necessarios-todos-os-dias.jpg"><br><br>
    O jogo de voleibol, mexe todo o corpo. Principalmente braços e ombro, fortalecendo os músculos dessa região. Sob o mesmo ponto de vista, as pernas também se beneficiam. Por ser uma atividade que exige rapidez e agilidade para alcançar a bola.
    
    <br>  Aumenta a taxa metabólica:<br>
    Como já citado, o vôlei é um esporte de velocidade e agilidade. Uma partida da modalidade contribui para o aumento do nível de energia corpóreo. Assim como contribui com o sistema cardiovascular e respiratório.<br>
    
    <br>Melhora a coordenação motora:<br>
    Para praticar o esporte, é necessário ter muita atenção. Assim como uma coordenação mão-olho. Isso ajuda a melhorar a coordenação motora.<br>
    
    <br> Desenvolve agilidade e equilíbrio:<br>
    O voleibol é uma atividade física que exige muita habilidade física do jogador. Dessa forma, é um jogo de movimentos constantes, uma partida pede que o jogador tenha flexibilidade, equilibro velocidade, força e coordenação motora. Mas essas são habilidades que também podem ser adquiridas com o tempo e com a prática.<br>
    
    <br>Ajuda o coração:<br>
    Uma partida de vôlei exige fôlego. Por ser uma atividade de movimento constante. Assim, eleva a frequência cardíaca e ajuda o corpo na circulação sanguínea, assim como no transporte dos nutrientes pelo corpo.<br>
    
    <br> Aumenta a força:<br>
    O voleibol requer especialmente o uso dos músculos superiores, por exemplo, braços, ombros e peitoral. Assim sendo, os músculos centrais do corpo são os mais utilizados em quase todos os jogos. Igualmente, o passe assemelha-se com o agachamento, obtendo a energia das pernas. Assim como em um saque, em que são usados braços, pernas e mãos, utilizando o movimento das pernas para criar forças ao saltar.<br>
    
    <br>Possui capacidade aeróbica:<br>
    O vôlei, é uma atividade física que tem um alto gasto calórico. Assim sendo, em uma partida de 20 minutos não profissional é possível queimar o equivalente a uma corrida de 1,6 km.<br>
    
    <br>  Melhora a resistência<br>
    Jogar vôlei ajuda a trabalhar todas as partes do corpo, melhorando as capacidades físicas funcionais deixando o corpo mais resistente.<br>
    
    <br> Contribui para o bem-estar mental<br>
    O esporte ajuda a evitar o estresse e a descontração da mente.
    
    <br> Ajuda no processo de emagrecimento<br>
    Por ser uma atividade de alto impacto,uma partida de voleibol é uma ótima opção para quem quer se divertir e ainda queimar calorias.<br>
    
    <br> Contribui para o fortalecimento dos ossos<br>
    Os movimentos do corpo durante uma partida de voleibol, evita a fraqueza dos ossos, diminuindo as chances de uma fratura óssea.<br>
    
    <br>   Riscos de jogar voleibol<br>
    Toda atividade exercida em grupo e de alto impacto pode oferecer algum risco ou danos à saúde de quem a pratica. Ter cuidado é essencial para evitar fraturas e outras lesões. Assim como em todos os esportes, é preciso manter a seriedade e concentração mesmo que seja em uma partida leve e entre amigos.<br>
    
    É muito comum observar durante as partidas lesões de torção. Os movimentos de aterrisagem, por exemplo, criam o risco de os pés torcerem os pés se não cair adequadamente.<br><br>
    <image src="https://www.guiaebeleza.com/wp-content/uploads/2017/05/TORNOZELO.jpg"><br>
    <br> Cuidados ao praticar o esporte<br>
    
    Alguns cuidados devem ser tomados ao praticar esse esporte para evitar futuras lesões e complicações maiores.<br>
    
     Ter uma alimentação saudável, assim como exames que comprovem a aptidão para a prática da atividade, são essenciais para evitar maiores complicações futuras.<br>
    
    Apesar de não ser uma atividade que apresente contraindicações, pessoas com problemas cardiovasculares, asma, problemas de coluna ou nos joelhos, dentre outras limitações, devem procurar primeiramente por uma liberação médica e assim poder desfrutar com segurança os benefícios do esporte.<br><br>
</font><br><br>
<image src="https://3.bp.blogspot.com/-Md6RquUR3LE/UoE3R4y4JtI/AAAAAAAAAC8/FtiaED3Z388/s1600/les%C3%A3o+Ombro.jpg"><br><br>

<font size=4>
    A maior incidência de lesões no voleibol se localiza nos membros inferiores.<br>
     Isto acontece porque os saltos proporcionam um elevado estresse nos membros inferiores na fase de impulsão e na etapa de queda. Os saltos correspondem a 63% das lesões no voleibol, pois além do ataque, do saque em suspensão e do bloqueio, ele ocorre também em algumas ações defensivas, na maioria dos levantamentos, e até mesmo em algumas recepções (HOLTHE et al., 1998 apud MARQUES JUNIOR, 2004; BRINER JUNIOR & KACMAR, 1997 apud MARQUES JUNIOR, 2004; BRINER JUNIOR & BENJAMIN, 1999 apud MARQUES JUNIOR, 2004).<br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/X3_sRqq1r4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><br>  
    Estudos comprovam que mais de 50% das lesões nos atletas ocorrem por má elaboração na prescrição do treinamento. A prescrição inadequada das sessões vem reduzindo a longevidade competitiva dos atletas. O procedimento chamado de “saltos” das cargas é muito comum nos esportes atualmente, mas isso acarreta em uma redução da carreira atlética do competidor, pois o organismo não tem mais reservas de adaptação para assimilar as novas cargas de treino, ocasionando uma piora nos resultados das competições, e resultando no sucesso esportivo apenas por um ou dois anos com essa maneira de prescrever os treinos (ACHOUR JÚNIOR, 1997 apud MARQUES JUNIOR, 2004; FILIN & VOLKOV, 1998 apud MARQUES JUNIOR, 2004; ZAKHAROV, 1992 apud MARQUES JUNIOR, 2004).
</font><br><br>
<image src="http://www.volleywood.net/wp-content/uploads/2011/01/115720_158044_dsc_3646-460x250.jpg">

{% endblock %}
